<div class="indent1">
  <div class="container">
    <div class="col-1 col-pad">
      <h2><cufon class="cufon cufon-canvas" alt="About" style="width: 47px; height: 18px;"><canvas width="60" height="22" style="width: 60px; height: 22px; top: -3px; left: -1px;"></canvas><cufontext>About</cufontext></cufon></h2>
      <div class="col-indent">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Employees</a></li>
          <li><a href="#">Our History</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Locations</a></li>
        </ul>


      </div>
    </div>
    <div class="col-2">
      <h2><cufon class="cufon cufon-canvas" alt="About " style="width: 53px; height: 18px;"><canvas width="66" height="22" style="width: 66px; height: 22px; top: -3px; left: -1px;"></canvas><cufontext>About </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Us" style="width: 22px; height: 18px;"><canvas width="33" height="22" style="width: 33px; height: 22px; top: -3px; left: -1px;"></canvas><cufontext>Us</cufontext></cufon></h2>
      <div class="col-indent">
        <span class="title1"><strong>Introduction</strong></span>
        <p>
          Our company increase its capitalization to $400,000.00 in order to be able to survive the unending competition in the market and be able to satisfy the growing and ever changing demands of the consumers.
        </p>

      </div>


      <div class="col-indent" style="margin-top:15px;">
        <span class="title1"><strong>New Product Line</strong></span>


        <p>

          After thorough research Pacific Oasis Enterprise, Inc. had learned that because of population growth, illness due to MISHANDLING of food items has become a fast growing problem o f Food Service Industries. Restaurants and fast food chains are estimating that the cost of payment claims and lost revenues has been nearly $100 Million in payment claims. Thus, "FOOD CODE BG 94-1" was passed to protect the food services indusutry. </p>
        <p>FOOD CODE BG 94-1 prohibits food employees from contacting exposed, ready -to-eat food with bare hands. For such reasons Pacific Oasis Enterprise, Inc. has added the following new products: </p>

        <p>NON-WOVEN DISPOSABLE ITEMS (Gloves,Aprons,Headwear, Overalls) <br>
          DISPOSABLE POLYETHYLENE GLOVES <br>
          DISPOSABLE CUTLERIES <br>
          DURAMITT GLOVES <br>

        </p>

      </div>
      <div class="col-indent" style="margin-top:15px;">
        <span class="title1"><strong>Product Studies And Promotions</strong></span>


        <p>
          In order to know the current demand for the JANITORIAL/SANITARY products in the market, Pacific Oasis participated in various trade shows involving this kind of product line. From recent shows attended, the company had realized that there are unlimited b usiness opportunities in these kind of products. Not to mention that, there are limited number of companies involved in this line of products. Demand for these kind of products are great.
        </p>

      </div>

    </div>
  </div>
</div>
