<div class="indent">
	<div class="container">
		<div class="policy">
			Global Headquaters<br />
			8413 Secura Way Unit B
			Santa Fe Springs, CA 90670
			USA   E-mail: <a href="#" class="link2-2">info@pacificoasis.com</a>
		</div>
		<form id="SubscribeForm" action="">
			<div>
				<label><input type="text" value="Enter your e-mail here:" class="input" onblur="if(this.value=='') this.value='Enter your e-mail here:'" onfocus="if(this.value =='Enter your e-mail here:' ) this.value=''" /></label>
				<%= image_submit_tag("input-img.jpg") %><br />
				<a href="#">Unsubscribe</a>
			</div>
		</form>
	</div>
</div>