<div class="container">
	<div class="boxes-indent">
		<div class="box banner">
			<div class="box-indent">
				<h3>Introduction</h3>
				<span>The company increase its capitalization to $400,000.00 in order to be able to survive the unending competition in the market and  <a href="#">...</a></span>
			</div>
		</div>
		<div class="box1 banner">
			<div class="box1-indent">
			<h3>About Pacific   </h3>
			<span>We're hiring: IMPORT COORDINATOR: Locate and order household goods/clothing from China. Arrange shipping, customs,      <a href="#">...</a></span>
			</div>
		</div>
		<div class="box2 banner">
			<div class="box2-indent">
				<h3>New Product </h3>
				<span>After thorough research Pacific Oasis Enterprise, Inc. had learned that because of population growth, illness due to MISHANDLING  <a href="#">...</a></span>
			</div>
		</div>
	</div>
</div>
