<div class="indent1">
  <div class="container">
    <div class="col-1 col-pad">
      <h2><cufon style="width: 67px; height: 18px;" alt="Contact " class="cufon cufon-canvas"><canvas style="width: 80px; height: 22px; top: -3px; left: -1px;" height="22" width="80"></canvas><cufontext>Contact </cufontext></cufon><cufon style="width: 22px; height: 18px;" alt="Us" class="cufon cufon-canvas"><canvas style="width: 33px; height: 22px; top: -3px; left: -1px;" height="22" width="33"></canvas><cufontext>Us</cufontext></cufon></h2>
      <div class="col-indent">
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">U.S. Offices</a></li>
          <li><a href="#">China Offices</a></li>

        </ul>


      </div>
    </div>
    <div class="col-2">
      <h2><cufon style="width: 67px; height: 18px;" alt="Contact " class="cufon cufon-canvas"><canvas style="width: 80px; height: 22px; top: -3px; left: -1px;" height="22" width="80"></canvas><cufontext>Contact </cufontext></cufon><cufon style="width: 22px; height: 18px;" alt="Us" class="cufon cufon-canvas"><canvas style="width: 33px; height: 22px; top: -3px; left: -1px;" height="22" width="33"></canvas><cufontext>Us</cufontext></cufon></h2>
      <div class="col-1 col-pad">
        <h2><cufon style="width: 56px; height: 18px;" alt="Global " class="cufon cufon-canvas"><canvas style="width: 70px; height: 22px; top: -3px; left: -1px;" height="22" width="70"></canvas><cufontext>Global </cufontext></cufon><cufon style="width: 101px; height: 18px;" alt="Headquaters" class="cufon cufon-canvas"><canvas style="width: 112px; height: 22px; top: -3px; left: -1px;" height="22" width="112"></canvas><cufontext>Headquaters</cufontext></cufon></h2>
        <div class="col-indent">


          <p style="padding: 0px;">8413 Secura Way Unit B <br>
            Santa Fe Springs, CA 90670<br>
            USA</p>
          <p>Tel: (888) PAC-OASIS, (800)-424-1475, (562) 698-9146 <br>
            Fax: (562) 698-9147 <br>
            E-Mail: POEUS@PacificOasis.com</p>
          <br>

        </div>
      </div>

      <div class="col-1">
        <h2><cufon style="width: 59px; height: 18px;" alt="United " class="cufon cufon-canvas"><canvas style="width: 72px; height: 22px; top: -3px; left: -1px;" height="22" width="72"></canvas><cufontext>United </cufontext></cufon><cufon style="width: 41px; height: 18px;" alt="State" class="cufon cufon-canvas"><canvas style="width: 51px; height: 22px; top: -3px; left: -1px;" height="22" width="51"></canvas><cufontext>State</cufontext></cufon></h2>
        <div class="col-indent">

          <div class="col-indent">


            <p style="padding: 0px;">1740 W. 6th Street <br>
              Fayetteville, AR 72701 <br>
              USA</p>
            <p>Tel: 1(479)521-3765 <br>
              E-Mail: doug@pacificoasis.com</p>

          </div>

        </div>
      </div>

      <div class="col-1 col-pad">
        <h2><cufon style="width: 52px; height: 18px;" alt="China " class="cufon cufon-canvas"><canvas style="width: 65px; height: 22px; top: -3px; left: -1px;" height="22" width="65"></canvas><cufontext>China </cufontext></cufon><cufon style="width: 93px; height: 18px;" alt="Headquater" class="cufon cufon-canvas"><canvas style="width: 105px; height: 22px; top: -3px; left: -1px;" height="22" width="105"></canvas><cufontext>Headquater</cufontext></cufon></h2>
        <div class="col-indent">

          <p style="padding: 0px;">ROOM 1101, #18, LUJIAZUI GARDEN, LANE 815,
            TAOLIN ROAD,PUDONG,<br>
            SHANGHAI 200135, CHINA</p>
          <p>Tel: 86(21)5093-7001 <br>
            Fax: 86(21)5885-4723 <br>
            E-Mail: leon@poechina.com</p>

        </div>
      </div>

      <div class="col-1">
        <h2><cufon style="width: 57px; height: 18px;" alt="Guang " class="cufon cufon-canvas"><canvas style="width: 70px; height: 22px; top: -3px; left: -1px;" height="22" width="70"></canvas><cufontext>Guang </cufontext></cufon><cufon style="width: 45px; height: 18px;" alt="Zhou " class="cufon cufon-canvas"><canvas style="width: 59px; height: 22px; top: -3px; left: -1px;" height="22" width="59"></canvas><cufontext>Zhou </cufontext></cufon><cufon style="width: 52px; height: 18px;" alt="Office " class="cufon cufon-canvas"><canvas style="width: 66px; height: 22px; top: -3px; left: -1px;" height="22" width="66"></canvas><cufontext>Office </cufontext></cufon><cufon style="width: 58px; height: 18px;" alt="(China)" class="cufon cufon-canvas"><canvas style="width: 71px; height: 22px; top: -3px; left: -1px;" height="22" width="71"></canvas><cufontext>(China)</cufontext></cufon></h2>
        <div class="col-indent">

          <div class="col-indent">
            <p style="padding: 0px;">ROOM 306, #5, SECTION 3, PINGDONG LANE,
              BAIHEDONG, LIWAN DISTRICT, GUANGZHOU,<br>
              GUANGDONG 510380, CHINA</p>
            <p>Tel: 86(139)0300-5452 <br>
              E-Mail: rongjz@poechina.com</p>
            <br>
          </div>

        </div>
      </div>

      <div class="col-1 col-pad">
        <h2><cufon style="width: 27px; height: 18px;" alt="Su " class="cufon cufon-canvas"><canvas style="width: 40px; height: 22px; top: -3px; left: -1px;" height="22" width="40"></canvas><cufontext>Su </cufontext></cufon><cufon style="width: 45px; height: 18px;" alt="Zhou " class="cufon cufon-canvas"><canvas style="width: 59px; height: 22px; top: -3px; left: -1px;" height="22" width="59"></canvas><cufontext>Zhou </cufontext></cufon><cufon style="width: 52px; height: 18px;" alt="Office " class="cufon cufon-canvas"><canvas style="width: 66px; height: 22px; top: -3px; left: -1px;" height="22" width="66"></canvas><cufontext>Office </cufontext></cufon><cufon style="width: 58px; height: 18px;" alt="(China)" class="cufon cufon-canvas"><canvas style="width: 71px; height: 22px; top: -3px; left: -1px;" height="22" width="71"></canvas><cufontext>(China)</cufontext></cufon></h2>
        <div class="col-indent">
          <p style="padding: 0px;">#88, HUYANG ROAD, HUGUAN INDUSTRY PARK,
            XIN DISTRICT, SUZHOU,<br>
            JIANGSU, CHINA</p>
          <p>Tel: 86(512)6616-8650 <br>
            Fax: 86(512)6616-8650 <br>
            E-Mail: zhuangsx@poechina.com</p>

        </div>
      </div>

      <div class="col-1">
        <h2><cufon style="width: 43px; height: 18px;" alt="Ning " class="cufon cufon-canvas"><canvas style="width: 56px; height: 22px; top: -3px; left: -1px;" height="22" width="56"></canvas><cufontext>Ning </cufontext></cufon><cufon style="width: 27px; height: 18px;" alt="Bo " class="cufon cufon-canvas"><canvas style="width: 41px; height: 22px; top: -3px; left: -1px;" height="22" width="41"></canvas><cufontext>Bo </cufontext></cufon><cufon style="width: 52px; height: 18px;" alt="Office " class="cufon cufon-canvas"><canvas style="width: 66px; height: 22px; top: -3px; left: -1px;" height="22" width="66"></canvas><cufontext>Office </cufontext></cufon><cufon style="width: 58px; height: 18px;" alt="(China)" class="cufon cufon-canvas"><canvas style="width: 71px; height: 22px; top: -3px; left: -1px;" height="22" width="71"></canvas><cufontext>(China)</cufontext></cufon></h2>
        <div class="col-indent">

          <div class="col-indent">
            <p style="padding: 0px;">ROOM 504, #22, MEIYUAN STREET, HAISHU, NINGBO,<br> ZHEJIANG 315000, CHINA</p>
            <p>Tel: 86(574)8719-0232 <br>
              Fax: 86(574)8719-0232 <br>
              E-Mail: xiwm@poechina.com</p>
            <br>
          </div>

        </div>
      </div>
      <div class="col-1 col-pad">
        <h2><cufon style="width: 42px; height: 18px;" alt="Qing " class="cufon cufon-canvas"><canvas style="width: 56px; height: 22px; top: -3px; left: -1px;" height="22" width="56"></canvas><cufontext>Qing </cufontext></cufon><cufon style="width: 37px; height: 18px;" alt="Dao " class="cufon cufon-canvas"><canvas style="width: 51px; height: 22px; top: -3px; left: -1px;" height="22" width="51"></canvas><cufontext>Dao </cufontext></cufon><cufon style="width: 52px; height: 18px;" alt="Office " class="cufon cufon-canvas"><canvas style="width: 66px; height: 22px; top: -3px; left: -1px;" height="22" width="66"></canvas><cufontext>Office </cufontext></cufon><cufon style="width: 58px; height: 18px;" alt="(China)" class="cufon cufon-canvas"><canvas style="width: 71px; height: 22px; top: -3px; left: -1px;" height="22" width="71"></canvas><cufontext>(China)</cufontext></cufon></h2>
        <div class="col-indent">
          <p style="padding: 0px;">#1102, WUSHAN VILLAGE, HI. TECH. PARK, LAOSHAN DISTRICT, QINGDAO,<br> SHANDONG 266101, CHINA</p>
          <p>Tel: 86(532)8891-0868 <br> 
            E-Mail: wangyc@poehcina.com</p>

        </div>
      </div>

    </div>
  </div>
</div>
