<div class="indent1">
    <div class="container">
        <div class="col-1 col-pad">
            <h2>
                All Items</h2>
            <div class="col-indent">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Employees</a></li>
                    <li><a href="#">Our History</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Locations</a></li>
                </ul>
            </div>
            <div class="col-1 col-pad" style="padding-top: 10px; width: 240px;">
                <h2>
                    Life at Pacific Oasis</h2>
                <div class="col-indent">
                    <p style="padding: 0px;">
                        Meet peope like us? Join our team.</p>
                    <p>
                        <span>IMPORT COORDINATOR: Locate and order household goods/clothing from China. Arrange
                            shipping, customs, receiving, payment. AA degree. 2 yrs exp. or 2 yrs. as Import
                            Agent. Fluent in Mandarin. </span>
                    </p>
                    <p>
                        <span class="title">Send resume to Pacific Oasis Enterprises, 8413 Secura Way Unit B,
                            Santa Fe Springs, CA 90670 USA </span>
                    </p>
                    <p style="padding: 0px; width: 200px;" align="right">
                        SALARY: DOE</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="col-indent">
                <h2>
                    Pacific Oasis Employee Profiles</h2>
                <div class="col-1">
                    <div class="linebg">
                        S.C. Chen <span class="slogen">President</span>
                    </div>
                    <div class="col-indent">
                        <p class="bullete">
                            &curren; Phone: (562) 698-9146</p>
                        <p class="bullete">
                            &curren; Fax: (562) 698-9147</p>
                        <p class="bullete">
                            &curren; Email: SCChen@pacificoasis.com</p>
                    </div>
                </div>
                <div class="col-1" style="margin-left: 18px;">
                    <div class="linebg">
                        Sue Shih <span class="slogen">Accounting Manager</span>
                    </div>
                    <div class="col-indent">
                        <p class="bullete">
                            &curren; Phone: (562) 698-9146</p>
                        <p class="bullete">
                            &curren; Fax: (562) 698-9147</p>
                        <p class="bullete">
                            &curren; Email: Sue@pacificoasis.com</p>
                    </div>
                </div>
                <div class="col-1">
                    <div class="linebg">
                        Douglas Lee <span class="slogen">Technical Manager </span>
                    </div>
                    <div class="col-indent">
                        <p class="bullete">
                            &curren; Phone: (562) 698-9146</p>
                        <p class="bullete">
                            &curren; Fax: (562) 698-9147</p>
                        <p class="bullete">
                            &curren; Email: Doug@pacificoasis.com</p>
                    </div>
                </div>
                <div class="col-1" style="margin-left: 18px; margin-top: 11px;">
                    <div class="linebg">
                        Guillermo Parra <span class="slogen">Sales Manager </span>
                    </div>
                    <div class="col-indent">
                        <p class="bullete">
                            &curren; Phone: (562) 698-9146</p>
                        <p class="bullete">
                            &curren; Fax: (562) 698-9147</p>
                        <p class="bullete">
                            &curren; Email: Guillermo@pacificoasis.com</p>
                    </div>
                </div>
                <div class="col-1">
                    <div class="linebg">
                        Keith Kingsolver<span class="slogen"> Vice President </span>
                    </div>
                    <div class="col-indent">
                        <p class="bullete">
                            &curren; Phone: (562) 698-9146</p>
                        <p class="bullete">
                            &curren; Fax: (562) 698-9147</p>
                        <p class="bullete">
                            &curren; Email: Keith@pacificoasis.com</p>
                    </div>
                </div>
                <div class="col-1" style="margin-left: 18px; margin-top: 11px;">
                    <div class="linebg">
                        S.X. Zhuang | 庄叔谐 <span class="slogen">Branch Manager </span>
                    </div>
                    <div class="col-indent">
                        <p class="bullete">
                            &curren; Phone: 86(512)6616-8650</p>
                        <p class="bullete">
                            &curren; Fax: 86(512)6616-8650</p>
                        <p class="bullete">
                            &curren; Email: ZhuangSX@poechina.com</p>
                    </div>
                </div>
                <div class="col-1">
                    <div class="linebg">
                        J.Z. Rong | 容建忠<span class="slogen">Senior Engineer (Guangzhou Office) </span>
                    </div>
                    <div class="col-indent">
                        <p class="bullete">
                            &curren; Phone: 86(139)0300-5452</p>
                        <p class="bullete">
                            &curren; Email: RongJZ@poechina.com</p>
                    </div>
                </div>
                <div class="col-1" style="margin-left: 18px; margin-top: 11px;">
                    <div class="linebg">
                        Leon Wong | 王尔聪 <span class="slogen">General Manager Of China Div.</span>
                    </div>
                    <div class="col-indent">
                        <p class="bullete">
                            &curren; Phone: 86(21)5093-7001</p>
                        <p class="bullete">
                            &curren; Fax: 86(21)5885-4723</p>
                        <p class="bullete">
                            &curren; Email: Leon@poechina.com</p>
                    </div>
                </div>
                <div class="col-1">
                    <div class="linebg">
                        W.M. Xi | 奚伟明 <span class="slogen">Senior Representative (Shanghai Office) </span>
                    </div>
                    <div class="col-indent">
                        <p class="bullete">
                            &curren; Phone: 86(574)8719-0232</p>
                        <p class="bullete">
                            &curren; Fax: 86(574)8719-0232</p>
                        <p class="bullete">
                            &curren; Email: XIWm@poechina.com</p>
                    </div>
                </div>
                <div class="col-1" style="margin-left: 18px; margin-top: 1px;">
                    <div class="linebg">
                        Y.C. Wang | 王元超 <span class="slogen">China Staff </span>
                    </div>
                    <div class="col-indent">
                        <p class="bullete">
                            &curren; Phone: 86(532)8891-0868</p>
                        <p class="bullete">
                            &curren; Email: WangYC@poehcina.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>