<div class="indent1">
  <div class="container">
    <div class="col-1 col-pad">
      
      <div class="col-1 col-pad" style="padding-top:10px; width:240px;">
	<h2><cufon class="cufon cufon-canvas" alt="Canton " style="width: 62px; height: 18px;"><canvas width="76" height="22" style="width: 76px; height: 22px; top: -3px; left: -1px;"></canvas><cufontext>Canton </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Fair " style="width: 37px; height: 18px;"><canvas width="50" height="22" style="width: 50px; height: 22px; top: -3px; left: -1px;"></canvas><cufontext>Fair </cufontext></cufon><cufon class="cufon cufon-canvas" alt="News" style="width: 44px; height: 18px;"><canvas width="55" height="22" style="width: 55px; height: 22px; top: -3px; left: -1px;"></canvas><cufontext>News</cufontext></cufon></h2>
	<div class="col-indent">
	  
	  <p><span class="title">Speech at the Promotion Seminar for the 101st Session of China Import and Export Fair</span> </p>
	  <p style="padding:0px; width:200px;" align="right"><em>http://www.cantonfair.org.cn,<br> Feb 24, 2011</em></p>
	  
	  <p><span class="title">General Introduction to the 101st Session of China Import and Export Fair</span> </p>
	  <p style="padding:0px; width:200px;" align="right"><em>http://www.cantonfair.org.cn,<br>  Jan 12, 2011</em></p>
	  
	  
	  
	</div>
      </div>
    </div>
    <div class="col-2">
      <h2><cufon class="cufon cufon-canvas" alt="Pacific " style="width: 60px; height: 18px;"><canvas width="73" height="22" style="width: 73px; height: 22px; top: -3px; left: -1px;"></canvas><cufontext>Pacific </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Oasis " style="width: 49px; height: 18px;"><canvas width="62" height="22" style="width: 62px; height: 22px; top: -3px; left: -1px;"></canvas><cufontext>Oasis </cufontext></cufon><cufon class="cufon cufon-canvas" alt="News" style="width: 44px; height: 18px;"><canvas width="55" height="22" style="width: 55px; height: 22px; top: -3px; left: -1px;"></canvas><cufontext>News</cufontext></cufon></h2>
      <div class="col-indent">
	<span class="title1">General Introduction to the 101st Session of China Import and Export Fair</span>
	<p><em>2011/10/1 </em></p>
	
	<p>
	  The 101st session of China Import and Export Fair (Canton Fair for short) will be held simultaneously in Pazhou Complex and Liuhua Complex in Guangzhou, China from April 15-30, 2007. The exhibition pattern remains as in two phases and at two complexes. The 
	</p>
	
	
	<p class="pad"><a href="#" class="link1"><cufon class="cufon cufon-canvas" alt="Read " style="width: 38px; height: 14px;"><canvas width="50" height="17" style="width: 50px; height: 17px; top: -2px; left: -1px;"></canvas><cufontext>Read </cufontext></cufon><cufon class="cufon cufon-canvas" alt="more" style="width: 34px; height: 14px;"><canvas width="42" height="17" style="width: 42px; height: 17px; top: -2px; left: -1px;"></canvas><cufontext>more</cufontext></cufon></a></p>
      </div>
      
      
      <div class="col-indent" style="margin-top:15px;">
	<span class="title1">Our New Office</span>
	<p><em>2011/9/1 </em></p>
	
	<p>
	  China office expanding! we have been recruiting our staff in shanghai and manufacturing product line around China division. 
	</p>
	
	
	<p class="pad"><a href="#" class="link1"><cufon class="cufon cufon-canvas" alt="Read " style="width: 38px; height: 14px;"><canvas width="50" height="17" style="width: 50px; height: 17px; top: -2px; left: -1px;"></canvas><cufontext>Read </cufontext></cufon><cufon class="cufon cufon-canvas" alt="more" style="width: 34px; height: 14px;"><canvas width="42" height="17" style="width: 42px; height: 17px; top: -2px; left: -1px;"></canvas><cufontext>more</cufontext></cufon></a></p>
      </div>
      <div class="col-indent" style="margin-top:15px;">
	<span class="title1">Order your product thru our hotline or online</span>
	<p><em>2011/8/18 </em></p>
	
	<p>
	  Download New Pacific Oasis Online Catalog
	</p>
	
	
	<p class="pad"><a href="#" class="link1"><cufon class="cufon cufon-canvas" alt="Read " style="width: 38px; height: 14px;"><canvas width="50" height="17" style="width: 50px; height: 17px; top: -2px; left: -1px;"></canvas><cufontext>Read </cufontext></cufon><cufon class="cufon cufon-canvas" alt="more" style="width: 34px; height: 14px;"><canvas width="42" height="17" style="width: 42px; height: 17px; top: -2px; left: -1px;"></canvas><cufontext>more</cufontext></cufon></a></p>
      </div>
      
    </div>
  </div>
</div>
